{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h1> Edit Profile... </h1>
    <br/><br/>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ u_form| crispy }}
            <a href="{% url 'change_password' %}"><button type="button" class="btn btn-link">Change password</button></a>
            {{ p_form| crispy }}
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
            <a class="btn btn-secondary btn-sm" href="javascript:history.back()">Back</a>
        </form>
    </div>
</div>
{% endblock %}
