{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8">
            {% for post in post_list %}
                <div class="shadow my-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-thumbnail" src="{{ post.author.profile.image.url }}" alt="profile-img">
                            </div>
                            <div class="col-md-4">
                                <a class="h2" href="{% url 'post_detail' post.pk %}"> {{ post.title }} </a>
                                <hr>
                                <small> Date must be here </small>
                                <p class="text-justify my-3 h4">
{#                                    {{ post.text | safe }}#}
                                    {{ post.snippet }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{#{% for psot in page_obj %}#}
    {# Each "contact" is a Contact model object. #}
{#    {{ post.full_name|upper }}<br>#}
{#{% endfor %}#}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% endif %}

    <li class="page-item"><a href="#" class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>

    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo</a></li>
    {% endif %}
    </ul>
</nav>
{% endblock %}
