{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h1> {{ post.title }} </h1>
    <small>
        By: <a href="{% url 'show_profile_page' post.author.id %}">{{ post.author.username }}</a>
        <p> {{ post.date_published }} </p>
    {% if post.author.id == user.id %}
        <a class="h6" href="{% url 'update_post' post.pk %}"> (Edit) </a>
        <a class="h6" href="{% url 'post_delete' post.pk %}"> (Delete) </a>
    {% endif %}
    </small>
    <hr>
    <br/><br/>
    <h4>{{ post.text | safe }}</h4>

<br/><br/>
    <h1> Comments: </h1>
<hr>
    {% for comment in comments_p %}
    <p class="text-justify">
    <div class="row">
        <div class="col-md-2">
            <input class="form-control" type="text" value="{{ comment.user }}:" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="col-md-7">
            <input class="form-control" type="text" value="{{ comment.content }}" aria-label="Disabled input example" disabled readonly>
            <br/>
        </div>
        <div class="col-md-3">
            <input class="form-control" type="text" value="{{ comment.date_published }}" aria-label="Disabled input example" disabled readonly>
            <br/>
        </div>
    </div>
    {% endfor %}
        <ul class="pagination justify-content-center">
            {% if comments_p.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ comments_p.previous_page_number }}">Previous</a></li>
            {% endif %}


<li class="page-item disabled"><a href="#" class="page-link">Page {{ comments_p.number }} of {{ comments_p.paginator.num_pages }}</a></li>

            {% if comments_p.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ comments_p.next_page_number }}">Next</a></li>

                <li class="page-item"><a class="page-link" href="?page={{ comments_p.paginator.num_pages }}">Last &raquo</a></li>

            {% endif %}

        </ul>
    <form method="POST">
        {% csrf_token %}
        {{ c_form|crispy }}
        <input class="btn btn-primary btn-sm" type="submit" value="Comment">
    </form><br/>
        <a href="javascript:history.back()"> <button class="btn btn-secondary"> Back </button> </a>

</div>

{% endblock %}
